@media screen and (max-width:425px){
    .nav-container{
       flex-direction: column;
    }
    .nav-tittle{
        flex-direction: column;
    }
    .nav-option{
       width: 100%;
       
       flex-direction: column;
        
     }
     .nav-tittle a{
        margin-bottom: 10px;
    }
    .nav-option .nav-icon{
        width:60%;
        
        
    }
    /* nav design end */
    .banner-container{
        flex-direction:column-reverse;
    }
    
    .banner-img{
        width:100%;
        margin-bottom: 50px;
        
    }
    /* banner section done */
    .online-game-container{
        grid-template-columns: 1fr;
    }
    .online-game-card img{
        width: 100%;
        object-fit: cover;
       
       
    }
    .online-game-card{
        padding: 0px 20%;
    }
    /* online game done */
    .product-section-part-1-container{
        flex-direction: column;
    }
    .product-1-text{
       width: 100%;
       margin: 0 auto;
    }
    .product-1-img{
        width: 100%;
        
        margin: 0px;
    }

    .product-1-img  .sub-img{
    
        height: 300px;
        width: 150px;
        top:150px;
        right: 250px;
        
       
    }
    /* products-1 done  */
    .icon-container{
    
        max-width:100%;
        
        margin: 150px auto 20px;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    
    
    .icon-child{
        flex-basis:20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-child:hover{
        width: max-content;
        border: 1px solid red ;
        border-radius: 30px;
        background: #FFF;
    }
    .icon-child img{
        width: 20px;
        height: 20px;
        border-radius: 25px;
        object-fit: cover;
       
        
    }
    .icon-child p{
        color: #0B0223;
        font-size: 15px;
        font-weight: 600;
        
    }
    /* icon design done */
    .footer-item-container{
        margin:0px auto 50px;
        display:grid;
        grid-template-columns: repeat(3,1fr);
    
    }
    .footer-item-container .footer-item{
        padding: 0px 30px;
        
    }
    .footer-icon-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0px auto;
        padding: 0px 80px;
    }
    .footer-term-container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
}