@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
.nav-section{
  
    background-color:  white;
    
}
.nav-container{
    max-width: 1100px;
    min-height: 100px;
 
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.nav-logo{
    width:50%;
   
    display: flex;
    align-items: center;
    gap: 20px;

}
.nav-logo h2,.footer-logo h2{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}
.nav-logo img{
    width: 40px;
    height: 27px;
}
.nav-tittle{
    display: flex;
}
.nav-option{
   width: 50%;
  
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.nav-option .nav-tittle{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-tittle a{
    text-decoration: none;
}
.nav-option .nav-icon{
    width:50%;
    display: flex;
    background-color: #b9b0d1;
    align-items: center;
    justify-content: center;
    padding:5px;
    
}
.nav-icon a{
    margin-right: 10px;
    text-decoration: none;
}

.nav-option a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.fa-brands{
    width: 30px;
    height: 20px;
} 
.fa-tiktok{
    background-image: linear-gradient(to bottom,#08FFF9,#F00044,#000000);
    color:transparent;
    -webkit-background-clip: text;
    
}
/* nav design end */
.banner-section{
    background-color: #FFF;
}
.banner-container{
    min-height: 200px;
   
    max-width: 1100px;
    margin:0 auto;
    display:flex;
    align-items: center;
}
.banner-tittle{
    width:50%;
   
   
}
.banner-text{
    width:max-content;
    
    margin: 0 auto;
    
}
.banner-text h1{
    color: #0B0223;
    font-size: 33px;
    font-weight: 600;
    line-height: normal;
    
}
.banner-text h2{
    font-size: 70px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .banner-text li{
        list-style: none;
        
    }
    .banner-text .banner-btn{
        padding:10px 20px;
        border-radius: 30px;
        margin-top:20px;
        border-radius: 30px;
    } 
.banner-img{
    width:50%;
    
}
.banner-img img{
    width:100%;
    
}
/* banner section done */
.online-game{
   
    min-height: 400px;
    max-width: 1100px;
    margin:50px auto 0px;
}
.online-game-container{
    
    
    min-height: 200px;
    margin:50px auto 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    
}
.online-game-card img{
    width:250px;
    height: 310px;;
}
.online-game-card p{
    color: #534C64;
    font-size:20px;
    font-weight: 500;
}
.online-game .tittle,.product-1-text .tittle{
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online-game .description,.product-1-text .description{
    text-align: center;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    
}
span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    
}
/* online game done */
.product-section-part-1{
    max-width:1100px;
    min-height: 200px;
    
    margin: 50px auto 0;
}
.product-section-part-1-container{
    margin-left: 80px;
    
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}
.product-1-text{
    width:50%;
   
    min-height: 100px;
    padding:auto 0px;
}
.product-1-img{
    width:50%;
   
    min-height: 100px;
    margin-left: 100px;
    position: relative;
}
.product-1-img img{
    width: 100%;
}
.product-1-img  .sub-img{
    
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top:250px;
    right: 300px;
   
    
   
}
/* products-1 done */
.icon-container{
    
    max-width:1100px;
    min-height: 200px;
    margin: 150px auto 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.icon-child{
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-child:hover{
    width: max-content;
    border: 1px solid red ;
    border-radius: 50px;
    background: #FFF;
}
.icon-child img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
   
    
}
.icon-child p{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    
}
/* icon design done */
footer{
    background-color: #0B0223;
    min-height: 550px;
}
.footer-container{
    max-width:1100px;
    margin:100px auto;
}
.footer-logo{
    width:100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;
    margin-bottom:10px;

}
.footer-logo h2{
    color:#FFF;
}
.footer-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-item-container .footer-item{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    
}
.footer-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    gap:20px;
}
.footer-icon-container .fa-brands{
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    
}
.footer-term-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 40px 0px;
}
.footer-term-container p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
    
}
.last-part p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    
    
}