@media screen and (max-width:768px){
    .nav-container{
        flex-direction: column;
        
        
     }
     .nav-option{
        width:100%;
     }
     .nav-option .nav-icon{
        width:30%;
        }
    .nav-option .nav-tittle{
        width:60%;
        
    }
    /* nav design end */
    .banner-container{
        flex-direction:column-reverse;
    }
    
    .banner-img{
        width:100%;
        margin: 50px 0px;
        
    }
    /* banner section done */
    .online-game-container{
        grid-template-columns: repeat(2,1fr);
    }
    .online-game-card img{
        width: 100%;
        object-fit: cover;
       }
       .online-game-card{
        padding: 0px 20%;
    }
    /* online game done */
    .product-section-part-1-container{
        flex-direction: column;
    }
    .product-1-text{
       width: 100%;
    }
    .product-1-img{
        width: 50%;
        
        margin: 0px;
    }

    .product-1-img  .sub-img{
    
        height: 300px;
        width: 150px;
        top:150px;
        right: 250px;
        
       
    }
    /* products-1 done */
    
     
}